.div
{
    height: 300px;
    width: 300px;
    background: aqua;
    
}
.red
{
    background: red;
    animation: test 1s ease;
}
@keyframes test
{
    from{
        margin-left: 10px;
    }
    to{
        margin-left: 50%;
    }
}


